@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

body {
  font-family: "Inter", sans-serif;
  background-color: #f1faee;
  color: #1d3557;
}

/* h1 {
  font-size: 2.25rem;
  line-height: 1.1;
} */

/* p {
  font-size: 1.25rem;
} */
